@model Nop.Plugin.Misc.Ticket.Domain.Tbl_CategoryTicket



<div class="panel-group">

    <div class="panel panel-default">
        <div class="panel-body">
            
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="DepartmentId" />
                    </div>
                    <div class="col-md-8">
                        <nop-select asp-for="DepartmentId" asp-items="Model.ListDepartments"  asp-required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="NameCategoryTicket" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="NameCategoryTicket"  asp-required="true"  />
                        <span asp-validation-for="NameCategoryTicket"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>