@using Nop.Web.Framework.UI;
@using Nop.Core;

@inject IStoreContext _storeContext
@{

    string ScriptVersion = Guid.NewGuid().ToString("N");

    @*@RenderSection("DashboardScripts", required: false)*@
}

<html lang="fa" dir="rtl">
<head>

    <title>@Html.NopTitle()</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="" type="image">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749803-3"></script>

    <link rel="stylesheet" href="~/Themes/Postbar/css/bootstrap.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/select2.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/all.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/jquery.mmenu.all.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/owl.carousel.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/owl.theme.default.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/flexslider.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/fontiran.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/iranSans.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/fontawesome5_10_2/css/fontawesome.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/font-awesome-animation.min.css?ver=@(ScriptVersion)">

    <script src="~/Themes/Postbar/js/jquery-3.3.1.min.js?ver=@(ScriptVersion)"></script>
    <script src="~/Themes/Postbar/js/bootstrap.min.js?ver=@(ScriptVersion)"></script>
    <script src="~/Plugins/Orders.MultiShipping/Content/common.js?ver=@(ScriptVersion)"></script>

    <link href="~/Plugins/Orders.ExtendedShipment/Scripts/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Plugins/Orders.ExtendedShipment/Scripts/sweetalert/sweetalert.js"></script>


    <style>
        .mytable > tbody > tr > th {
            font-size: 9pt !important;
            width: 30% !important;
        }

        .lbl2 {
            color: orange;
        }

        .lbl3 {
            color: #08317d
        }

        .bgRahgiri {
            background-color: #01a0e1;
            height: auto;
        }
    </style>


    <style>
        * {
            box-sizing: border-box;
        }

        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 19%;
            padding: 5px;
            height: 11%; /* Should be removed. Only for demonstration */
            border-radius: 10px 10px;
            background-color: white;
            border: 2px;
            border-color: gray;
            margin-right: 1%;
            margin-bottom: 1%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column:hover {
            border: 5px solid #ffa318;
        }

        .btnSearch {
            background-color: #f7941d !important;
            height: 40px;
        }

            .btnSearch:hover {
                transition: transform .5s ease-out;
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

        .selectInputSearch {
            background: url(/Themes/postexNew/images/barcode.png) no-repeat left 10px center;
            background-color: white;
            background-origin: border-box;
            background-size: 3rem 2rem;
        }
    </style>
</head>
<body>

    <div class="bgRahgiri col-md-12" style="text-align:right">



        @await Component.InvokeAsync("QuickOrderPrice")
    </div>
</body>

</html>