@model string
@{
    int ScriptVersion = 5;
    // Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/shipito/js/jquery.modal.min.js?ver=" + ScriptVersion);
    //Html.AppendCssFileParts("~/Themes/shipito/css/jquery.modal.min.css?ver=" + ScriptVersion);
}

<style>
    .mytable > tbody > tr > th
    {
        font-size:9pt !important;
        width:30% !important;
    }
    .lbl2
    {
        color:orange;
    }
    .lbl3 {
        color: #08317d
    }
</style>
<i class="fa fa-spinner fa-spin" id="LoadingGift" style="font-size:48px;color:#ffa318;position:fixed;top:50%;left:50%;z-index:999999999999999;display:none"></i>

<div class="tracking-code text-center">
    <div class="container">
        <a class="tracking-code-img">
            @*<img src="~/Themes/shipito/images/marsoolat.png" alt="">*@
        </a>
        <h1>
            سامانه رهگیری مرسولات
        </h1>
        <p class="text-center desc">
            با یکی از روش های زیر وضعیت مرسوله خود را دنبال کنید
        </p>
        <form class="form-inline">
            <div class="form-group" id="divInputDesk">
                <input type="text" class="custom-input tracking-code-input " maxlength="25" id="TrackingAllInput" placeholder="کد رهگیری مرسوله یا شماره سفارش در سامانه امنیتو یا شماره موبایل فرستنده یا گیرنده">
                <input type="text" class="custom-input tracking-code-input rightTrackInput" maxlength="25" id="RhTrackingNumber" placeholder="کد رهگیری پستی ">
                <input type="text" class="custom-input tracking-code-input centerTrackInput" maxlength="8" id="RhOrderId" placeholder=" شماره سفارش در سامانه امنیتو   ">
                <input type="text" class="custom-input tracking-code-input leftTrackInput" maxlength="14" id="RhMobile" placeholder=" شماره موبایل فرستنده یا گیرنده">
            </div>
            <a id="TrackShipment" class="pbtn btn custom-btn-01 btn-search-modal">
                رهگیری
                <span> مرسوله شما</span>
            </a>
        </form>
    </div>


</div>
<script>
    $(document).ready(function () {

        $(document).ready(function () {
            $('body').on('click', function () {
                if ($('#RhOrderId').css("visibility") == "hidden" ||
                    $('#RhTrackingNumber').css("visibility") == "hidden" ||
                    $('#RhMobile').css("visibility") == "hidden") {
                    $('#divInputDesk input').css({ "visibility": "visible", "width": "", "position": "" })
                }
            }).on('click', '#divInputDesk input', function (e) {
                e.stopPropagation();
                $('#divInputDesk input').css({ "visibility": "hidden", "position": "absolute" })
                $(this).css({ "position": "", "visibility": "visible", "width": "100%", "border-radius": "5px" })
            });
        });

        $('body').addClass('blocker-modal');
        document.getElementById('RhTrackingNumber').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );
        document.getElementById('RhOrderId').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );
        document.getElementById('RhMobile').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );
        document.getElementById('TrackingAllInput').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );

        $('#TrackShipment').click(function () {

            //$('#modalBody').html('');

            var trackingNumber = $('#RhTrackingNumber').val();
            var orderId = $('#RhOrderId').val();
            var mobileNo = $('#RhMobile').val();
            var allinput = $('#TrackingAllInput').val()
            var data = { 'TrackingAllInput' : allinput,'trackingNumber': trackingNumber, 'orderId': orderId, 'MobileNo': mobileNo,'IdServiceProvider':0}
            //addAntiForgeryToken(data );
            $.ajax({
                beforeSend: function () {
                    $('#TrackShipment').prop("disabled", true);
                    $("#LoadingGift").css("display", "block");
                    
                },
                traditional: true,
                type: "POST",
                url: "@(Url.Action("GetTrackingResult", "ShipmentTracking"))",
                data: data,
                success: function (result) {
                    if (result.State == 200) {
                        createDataView(result.data);
                        $('#TrackShipment').prop("disabled", false);
                        $("#LoadingGift").css("display", "none");
                    }
                    else if (result.State == 404) {
                        $("#LoadingGift").css("display", "none");
                        $('#modal_ServiceProvider').modal('show', { backdrop: 'static' });
                        $('#modal_ServiceProvider').appendTo("body");
                    }
                    else
                    {
                          $("#LoadingGift").css("display", "none");
                          alert('اطلاعاتی جهت رهگیری مرسوله شما در دسترس نمی باشد');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                      $("#LoadingGift").css("display", "none");
                    alert('خطا در زمان رهگیری مرسولات، لطفا صفحه را رفرش کنید');
                }
            });
        });
    });
    function CloseModal() {
        $.modal.close();
    }
    function createDataView(data) {
        var itemLinke = '';
        var itemDiv = '';
        var countr = 1;
        var active = '';
        $('#modalBody').html('');
        $(data).each(function () {

            var crItem = this;
            if (countr == 1)
                active = 'show';
            else
                active = '';
            countr++;
            
            if (crItem.DataCollect) {
                $('#mDataCollect').html(crItem.DataCollect);
                $('#mDataCollect').parent().show();
            }
            else
                $('#mDataCollect').parent().hide();
            if (crItem.ShippedDate) {
                $('#mShippedDate').html(crItem.ShippedDate);
                $('#mShippedDate').parent().show();
            }
            else {
                $('#mShippedDate').parent().hide();
            }
            if (crItem.DeliveryDate) {
                $('#mDeliveryDate').html(crItem.DeliveryDate);
                $('#mDeliveryDate').parent().show();
            }
            else
                $('#mDeliveryDate').parent().hide();
            if (crItem.SenderFullName) {
                $('#mSenderFullName').html(crItem.SenderFullName);
                $('#mSenderFullName').parent().show();
            }
            else {
                $('#mSenderFullName').parent().hide();
            }
            if (crItem.SenderAddress) {
                $('#mSenderAddress').html(crItem.SenderAddress);
                $('#mSenderAddress').parent().show();
            }
            else
                $('#mSenderAddress').parent().hide();
            if (crItem.ReceiverFullName) {
                $('#mReceiverFullName').html(crItem.ReceiverFullName);
                $('#mReceiverFullName').parent().show();
            }
            else
                $('#mReceiverFullName').parent().hide();
            if (crItem.ReceiverAddress) {
                $('#mReceiverAddress').html(crItem.ReceiverAddress);
                $('#mReceiverAddress').parent().show();
            }
            else {
                $('#mReceiverAddress').parent().hide();
            }
            if (crItem.ShipmentWeight) {
                $('#mShipmentWeight').parent().show();
                $('#mShipmentWeight').html(crItem.ShipmentWeight);
            }
            else
                $('#mShipmentWeight').parent().hide();
            if (crItem.TrackingNumber) {
                $('#mTrackingNumber').html(crItem.TrackingNumber);
                $('#mTrackingNumber').parent().show();
            }
            else {
                $('#mTrackingNumber').parent().hide();
            }
            if (crItem.CreatedOn) {
                $('#mCreatedOn').html("تاریخ ثبت: " + crItem.CreatedOn);
                $('#mCreatedOn').parent().show();
            }
            else
                $('#mCreatedOn').parent().hide();
            if (crItem.NameServiceProvider) {
                $('#mNameServiceProvider').html(crItem.NameServiceProvider);
                $('#mNameServiceProvider').parent().show();
            }
            else {
                $('#mNameServiceProvider').parent().hide();
            }
            if (crItem.mDescription) {
                $('#mDescription').html(crItem.mDescription);
                $('#mDescription').parent().show();
            }
            else {
                $('#mDescription').parent().hide();
            }
            debugger;
            if (crItem.AllState) {
                var trackingResult = JSON.parse(crItem.AllState);

                var masterRow = '';
                var i = 0;
                $.each(trackingResult, function () {
                    var descItems = this.desc.split('،');
                    i++;
                    var innerRow = '';
                    $.each(descItems, function () {
                        var rowItem = this.split(':');
                        innerRow += `<div class="row">
                             <div class="col-lg-12">
                                <span class="lbl2">
                                <span class="fa fa-arrow-circle-left" style="margin-left:5px;">
                                </span>${rowItem[0]}:</span>
                                <span class="lbl3">${rowItem[1]}</span>
                             </div>
                          </div>`;
                    });
                    masterRow += `<div class="row">
                       <div class="col-lg-1">${i}</div>
                       <div class="col-lg-3">${this.date}</div>
                       <div class="col-lg-8">
                         ${innerRow}
                       </div>
                    </div><hr/>`
                });
                var container = `<div class="content">
                    <div class="container">
                   ${masterRow} 
                    </div>
                </div>`;
                $('#mLastSate').html(container);
            }
            else {
                $('#mLastSate').html(crItem.LastSate);
            }
            $('#modal_ResultTracking').modal('show', { backdrop: 'static' });
            $('#modal_ResultTracking').appendTo("body");

        });
    }

    function TrackShipmentbyselectprovider(id)
    {
            var trackingNumber = $('#RhTrackingNumber').val();
            var orderId = $('#RhOrderId').val();
            var mobileNo = $('#RhMobile').val();
            var allinput = $('#TrackingAllInput').val()
            var data = { 'TrackingAllInput' : allinput,'trackingNumber': trackingNumber, 'orderId': orderId, 'MobileNo': mobileNo,'IdServiceProvider':id}
            //addAntiForgeryToken(data );
            $.ajax({
                beforeSend: function () {
                    $('#modal_ServiceProvider').modal('hide');
                     $("#LoadingGift").css("display", "block");
                },
                traditional: true,
                type: "POST",
                url: "@(Url.Action("GetTrackingResult", "ShipmentTracking"))",
                data: data,
                success: function (result) {
                    if (result.State == 200) {
                        createDataView(result.data);
                    }
                    else
                    {
                        alert('اطلاعاتی جهت رهگیری مرسوله شما در دسترس نمی باشد');
                    }
                    $("#LoadingGift").css("display", "none");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                      $("#LoadingGift").css("display", "none");
                    alert('خطا در زمان رهگیری مرسولات، لطفا صفحه را رفرش کنید');
                }
            });
    }
</script>
<style>
    * {
        box-sizing: border-box;
    }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 19%;
        padding: 5px;
        height: 11%; /* Should be removed. Only for demonstration */
        border-radius:10px 10px;
        background-color:white;
        border:2px;border-color:gray;
        margin-right:1%;
        margin-bottom:1%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column:hover {
    border:5px solid #ffa318;
}
</style>
<div id="modal_ServiceProvider" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#ffa318;">
                <div class="col-md-2"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                <div class="col-md-8"> <h5 class="text-center" style="color:white;text-align:center;">کاربر گرامی لطفا سرویس پستی خود را مشخص فرمایید</h5></div>
                <div class="col-md-2"></div>
            </div>
            <div class="modal-body" style="background-color:whitesmoke">
                <h6 class="text-center" style="color:#ffa318;">
                    انواع سرویس های پستی
                </h6>
                <div class="row">
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(699);">
                            <div>
                                <img src="~/Themes/Shipito/images/dts.png" />
                                <p class="text-center" style="font-weight: bold;">D.T.S</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(717);">
                            <div>
                                <img src="~/Themes/Shipito/images/snap.png" />
                                <p class="text-center" style="font-weight: bold;">اسنپ</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(712);">
                            <div>
                                <img src="~/Themes/Shipito/images/chapar.png" />
                                <p class="text-center" style="font-weight: bold;">کالا رسانان چاپار</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(707);">
                            <div>
                                <img src="~/Themes/Shipito/images/pde.png" />
                                <p class="text-center" style="font-weight: bold;">P.D.E</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(719);">
                            <div>
                                <img src="~/Themes/Shipito/images/bluesky.png" />
                                <p class="text-center" style="font-weight: bold;">راه آسمان آبی</p>
                            </div>
                        </a>
                    </div>
                    @*<div class="column">
            <a href="#" onClick="TrackShipmentbyselectprovider(716);">
                <div>
                    <img src="~/Themes/Shipito/images/Taroff.jpeg" />
                    <p class="text-center" style="font-weight: bold;">تعارف</p>
                </div>
            </a>
        </div>*@
                </div>
                <div class="row">
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(702);">
                            <div>
                                <img src="~/Themes/Shipito/images/yarbox.png" />
                                <p class="text-center" style="font-weight: bold;">یارباکس</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(701);">
                            <div>
                                <img src="~/Themes/Shipito/images/ubaar-logo-rounded.png" />
                                <p class="text-center" style="font-weight: bold;">اوبار</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(568);">
                            <div>
                                <img src="~/Themes/Shipito/images/iranpost.png" />
                                <p class="text-center" style="font-weight: bold;">شرکت پست ملی ایران</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" onClick="TrackShipmentbyselectprovider(711);">
                            <div>
                                <img src="~/Themes/Shipito/images/TPG.jpeg" />
                                <p class="text-center" style="font-weight: bold;">TPG</p>
                            </div>
                        </a>
                    </div>
                </div>
             
            </div>
         
        </div>
    </div>
</div>
<div id="modal_ResultTracking" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px !important;">
            <div class="text-center" style="background-color:#ffa318;border-top-left-radius: 19px;border-top-right-radius: 19px;padding: 10px;">
                <h5 class="text-center" style="color:white;text-align:center;">نتیجه رهگیری مرسوله شما</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body ">
                <div class="col-md-12">
                    <!-- Table  -->
                    <table class="table table-responsive-md mytable" style="font-size:9pt !important">
                        <tbody class="text-right" >
                            <tr>

                                <th scope="row">کد رهیگری/شماره سفارش/موبایل</th>
                                <td id="mTrackingNumber"></td>

                            </tr>
                            <tr>

                                <th scope="row">نام سرویس پستی</th>
                                <td id="mNameServiceProvider"></td>

                            </tr>

                            <tr>

                                <th scope="row">نوع مرسوله</th>
                                <td id="mShipmentWeight"></td>

                            </tr>
                            <tr>

                                <th scope="row">توضیحات/محتویات مرسوله</th>
                                <td id="mDescription"></td>

                            </tr>
                            <tr>

                                <th scope="row">تاریخ جمع آوری</th>
                                <td id="mDataCollect"></td>

                            </tr>

                            <tr>

                               
                                <td id="mLastSate" colspan="2" style="width:100%;font-size: 9pt;"></td>

                            </tr>
                            <tr>

                                <th scope="row">تاریخ ارسال</th>
                                <td id="mShippedDate"></td>

                            </tr>

                            <tr>

                                <th scope="row">تاریخ تحویل</th>
                                <td id="mDeliveryDate"></td>

                            </tr>
                            <tr>
                                <th scope="row">نام فرستنده</th>
                                <td id="mSenderFullName"></td>
                            </tr>
                            <tr>
                                <th scope="row">آدرس فرستنده</th>
                                <td id="mSenderAddress"></td>
                            </tr>
                            <tr>
                                <th scope="row">نام گیرنده</th>
                                <td id="mReceiverFullName"></td>
                            </tr>
                            <tr>
                                <th scope="row">آدرس گیرنده</th>
                                <td id="mReceiverAddress"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="text-center" style="background-color:#6c757d;border-bottom-left-radius:19px;border-bottom-right-radius:19px">
                <div class="row">
                    <div class="col-md-6">
                        <span id=""></span>
                    </div>
                    <div class="col-md-6">
                        <span id="mCreatedOn"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>