@{
    Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/Postbar/_MasterLayout.cshtml";
}
<body class="rtl parent-popover">
    <!-- Navigation -->
    <header class="d-md-none d-lg-none d-xl-none  u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md u-header--untransitioned">
        <div class="u-header__section fixed-top">

            <div id="logoAndNav">
                <div class="container">
                    <nav class="navbar  navbar-expand-lg navbar-light bg-light ">
                        <!--navbar navbar-expand-lg navbar-light bg-light-->
                        <a class="navbar-brand   logo" href="index.html">
                            <img src="images/logo.png" alt="">
                        </a>

                        <!--small-phone-->
                        <div class="" id="menuToggle">

                            <input type="checkbox" class="checkbox_check" />
                            <span></span>
                            <span></span>
                            <span></span>


                            <ul id="menu">
                                <div class="header-menu-humm">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul>
                                                <li><a href="" class="btn btn-menu-1">ثبت سفارش</a></li>
                                                <li><a href="" class="btn btn-menu-2">رهگیری مرسوله</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="body-menu-humm">
                                    <ul class="">
                                        <li class="active"><a href="#">خانه</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">خدمات پستی</a>
                                            <div class="dropdown-menu">
                                                <a href="#" class="dropdown-item">سرویس سفارشی</a>
                                                <a href="#" class="dropdown-item">سرویس پیشتاز</a>
                                                <a href="#" class="dropdown-item">سرویس ویژه</a>
                                                <a href="#" class="dropdown-item">سرویس پس کرایه</a>
                                                <a href="#" class="dropdown-item">سفارش انبوه</a>
                                            </div>
                                        </li>

                                        <li><a href="#page3">تازه های فناوری و تکنولوژی</a></li>
                                        <li><a href="#page3">درباره ما</a></li>
                                        <li><a href="/%D8%AA%D9%85%D8%A7%D8%B3-%D8%A8%D8%A7-%D9%85%D8%A7">تماس با ما</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu-humm">
                                    <a href="#" class="btn btn-footer-menu">ورود | ثبت نام</a>
                                </div>
                            </ul>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="dropdown nav-item ">
                                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">خدمات پستی</a>
                                    <div class=" arrow-ups dropdown-menu under_menu_drop ">
                                        <a href="#" class="dropdown-item">تست او ل</a>
                                        <a href="#" class="dropdown-item">تست دو م</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#"> رهگیری مرسوله</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">ثبت سفارش</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">سفارش انبوه</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">وبلاگ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">درباره ما</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link" href="#">معرفی به ما</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ">

                                <div class="dropdown">

                                    <a href="#" data-toggle="dropdown" class=" btn btn-login dropdown-toggle custom-btn-01">
                                        ثبت نام | ورود
                                    </a>
                                    <div class="dropdown-menu arrow-ups under_menu_drop">
                                        <a href="#" class=" custom-btn-01 dropdown-item">تست او ل</a>
                                        <span class="user-singup "> کاربر جدید هستید؟<a href="">ثبت نام</a></span>
                                        <!-- <p>  <a href="" style="color: #ffa01f"> </a></p>-->
                                    </div>
                                </div>

                            </form>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </header>
    <!-- 3 columns offset Center -->
    <div style="text-align:justify;direction:rtl;display:none" dir="rtl">
            *قوانین استفاده از سامانه*

            زمان بندی جمع آوری سفارش هایی که درخواست آنها تا قبل از ساعت 11صبح باشد همان روز و زمان جمع آوری سفارشاتی که پس از ساعت11 صبح ثبت شوند، در اولین روز کاری بعد از ثبت سفارش خواهد بود .


            قوانین اجرایی

            1.	تعهد می نمایم که  وزن و محتوای بسته را بدرستی  به دقت و صداقت اعلام نمایم.اگر  چنانچه وزن اعلام شده
            مغایر با وزن واقعی باشد (که این مورد در واحد تجزیه و مبادلات مشخص می گردد)، سفارش کنسل خواهد شد و مسئولیت تاخیر در ارسال، هزینه سفارش مجدد و یا هرگونه خسارت ناشی از این امر به عهده اینجانب خواهد بود.
            2.	تعهد می نمایم که آدرس گیرنده را  در سیستم به درستی اعلام نمایم تا موجب برگشتی سفارش و یا هزینه های نگهداری در باجه معطله نگردد.
            3.	تعهد می نمایم هماهنگی لازم را با گیرنده برای اخذ مرسوله ای که در باجه معطله می باشد  بنمایم.
            4.	تعهد می نمایم آدرس فرستنده اعم از استان، شهر و منطقه را صحیح انتخاب نمایم و چنانچه این امر به درستی صورت نگیرد مسئولیت ناشی از تاخیر در جمع آوری و یا کنسلی سفارش به عهده اینجانب خواهد بود.
            5.	تعهد می نمایم از شنبه تا چهارشنبه، جهت تحویل مرسوله به جمع آور تا ساعت 18 وپنج شنبه تا ساعت 15 در محل اظهار شده ثبت سفارش (آدرس فرستنده) حضور داشته باشم و در صورت عدم حضور، این امر به منزله لغوسفارش است و هیچ مبلغی از بابت سفارش لغو شده  مسترد نخواهد شد و همچنین تعهد می نمایم هیچ گونه ادعایی در این خصوص نخواهم داشت.
            6.	مجددا اعلام میدارم که قبول دارم کلیه سفارشات ثبت شده در روزجمعه و ایام تعطیل در اولین روز کاری بعد از ثبت سفارش  جمع آوری خواهد شد و در این خصوص هیچ اعتراضی نخواهم داشت.
            7.	تعهد می نمایم هر گونه شکایت در خصوص خسارت وارده به هر مرسوله ای  را صرفا ظرف 24ساعت پس از سفارش از و عدم پذیرش آن مرسوله اعلام دارم و در غیر این صورت هیچ گونه اعتراضی نخواهم داشت  ضمنا تعهد بیمه مرسوله تا لحظه تحویل آن به گیرنده اعتبار خواهد داشت.
            8.	تعهد می نمایم که کالای فاسد شدنی ، ممنوعات پستی و قاچاق، وزن بیش از 30کیلو، مایعات و ابعاد بیش  از 1 متر  در مرسوله پستی قرار ندهم و مندرجات بند ممنوعات پستی رارعایت نمایم .
            9.	تعهد می نمایم که کالای شکستنی  ارسال ننمایم مگر آنکه کلیه ضوابط بسته بندی را رعایت نموده باشم، که در صورت عدم رعایت ضابطه فوق و بروز خسارت، هیچ اعتراضی نخواهم داشت و مسئولیت محتوای کلیه کالاهای مندرج در بسته به عهده اینجانب می باشد، همچنین شرکت هیچ گونه مسئولیتی در قبال اطلاع رسانی بسته بندی مرسوله ندارد و در صورت ارسال مرسوله با هرنوع بسته بندی تبعات آن به عهده فرستنده می باشد.
            10.	تعهد می نمایم فایلPDF  سفارش خود را که حاوی کد رهگیری می باشد  را پرینت و بر روی  بسته الصاق نمایم وحتما آنرا امضا کنم و سپس  نسخه دیگر را به امضای جمع آور برسانم و به عنوان رسید نزد خود نگهدارم.. ضمنا کلیه قوانین پستی را در خصوص محتوای بسته پستی رعایت نمایم و اگر خلاف این امر را انجام دهم کلیه مسئولیت های ناشی از خسارت و غیره به عهده اینجانب می باشد و اگر چنانچه به پرینتر دسترسی نداشته باشم، آدرس فرستنده، گیرنده و شماره سفارش را بر روی بسته بندی مرسوله با ماژیک درج بنمایم.
            11.	تعهد می نمایم کلمه کاربری و رمز عبورم فرد دیگری استفاده نخواهد کرد که در غیر این صورت کلیه مسئولیت ها و تعهدات مندرج در بند های این تعهدنامه  به عهده اینجانب خواهد بود.
            12.	تعهد می نمایم کلیه موارد لازم در مورد بسته بندی صحیح و عدل بندی را با هزینه خودم انجام دهم تا بسته در زمان حمل پاره نشود و چنانچه مرسوله ام به بسته بندی مجدد نیاز داشت هزینه آن را طبق نظرکارشناس بپردازم یا مبلغ بسته بندی از
            حساب کیف پول اینجانب  اتوماتیک کسر گردد.
            13.	روند کاری سامانه  بدین گونه است که سفارش هایی که تا قبل از ساعت 11  در پیش کرایه و ساعت7 در پس کرایه و COD  ثبت می گردند همان روز به فعال پستی یا کالارسان، جهت جمع آوری ارجاع  و تا ساعت 18 جمع آوری از محل ثبت شده برای فرستنده جمع آوری گردد که اینجانب تعهد می نمایم در صورت 24 ساعت تاخیر در جمع آوری حق هرگونه اعتراض نسبت به جمع آوری کالا را از خود سلب نموده ام.
            14.	متعهد و مطلع هستم که جمع آوری بارها، از درب منزل یا محل کار انجام می شود و روند دریافت آن به گونه ای است که بار باید  به جمع آور  محترم، در محل درب ورودی ساختمان تحویل داده شود و در صورت نیاز به رویت محتویات مرسوله امکان
            بازدید آن فراهم گردد.
            15.	تعهد مینمایم چنانچه از درج  امضا در بخش امضای مشتری  در فاکتور خودداری نمایم (که بصورت اتوماتیک پس از ثبت سفارش دانلود و در اختیارم قرار گرفت) حق هرگونه اعتراضی را نسبت به دریافت غرامت ناشی از خسارت یا فقدان مرسوله را از خود سلب می نمایم. این موارد یکبار دیگر در زمان پرداخت مبلغ هزینه ارسال بصورت الکترونیک به تایید اینجانب رسیده است (در زمان پرداخت، تایید نمودم که قوانین را خواندم و قبول دارم).
            16.	تعهد می نمایم اگر شرکت پستی به هر علتی از حمل بسته اینجانب خودداری کرد حق هر گونه اعتراضی را از خود سلب می نمایم و اجازه شکایت در این خصوص را نخواهم داشت.
            17.	جهت اطلاع از روند پرداخت حق مقر نیز به بخش دستورالعمل مندرج در سایت مراجعه نمایید .

            قوانین مالی

            1.	کنسلی سفارش
            1-1)	می پذیرم در صورت ثبت سفارش از طریق پست بار، چنانچه درخواست کنسلی سفارش را داشته باشم هیچ مبلغی عودت داده نخواهد شد
            1-2)	می پذیرم چنانچه در زمان تحویل مرسولات، بسته ای تحویل داده نشود، به منزله کنسل شدن مرسوله می باشد.
            1-3)	تعهد می نمایم و می پذیرم چنانچه مرسوله از سامانه غیرپستی باشد، تا قبل از جمع آوری قابل کنسل کردن بوده و چنانچه برای جمع آوری مراجعه شود یا اینکه جمع آوری انجام شود برای کنسلی هیچ وجهی مسترد نخواهد شد.
            2.	مدت زمان ارسال بسته طبق SLA  مندرج در توضیحات هر فعال پستی قید گردیده. بارهایی که مدت زمان ارسال  بیش از زمان مندرج در جدول SLA ارسال و تحویل شوند مشمول غرامت  تاخیر در ارسال خواهند شد که می بایستی از طریق eop.post.ir  ثبت گردد.
            3.	برای استفاده از سرویس پس کرایه یا COD مبلغ 1،500،000 ريال داخل کیف پول بلوکه خواهد شد. درصورت  درخواست کنسل کردن حساب پس کرایه، چنانچه تعداد سفارش های پس کرایه ثبت شده زیر10 سفارش باشد مبلغ عودت و در صورت ثبت سفارش بالای 10 تا، مبلغ عودت نخواهد شد و از مبلغ بلوکه شده می توان به جای هزینه سفارش پیش کرایه استفاده کرد.

            تعهدات بیمه ای

            1.	در صورت آسیب دیدن مرسوله، گیرنده موظف است از پذیرش مرسوله خوداری نماید و مورد را در کمتر از 2۴ساعت به مرکز پشتیبانی سامانه ، اعلام نماید تا پس از اعلام نظر کارشناسی مبنی بر بروز خسارت، پرداخت غرامت صورت پذیرد، در غیر این صورت سامانه  هیچگونه تعهدی در قبال مرسوله آسیب دیده نخواهد داشت .
            2.	پرداخت غرامت کالا پس از دریافت داغی مرسوله پرداخت خواهد شد که هزینه ارسال از فرانشیز پرداختی کسر خواهد شد.
            3.	در صورت اعلام نظر کارشناس مبنی بر عدم پرداخت خسارت، جهت جلب رضایت مشتری حق السهم پست از پرداختی کسر خواهد و مابه التفاوت باقی مانده به مشتری پرداخت خواهد شد.
            4.	در صورت دست دوم بودن کالا، قیمت کالای نو مشابه پس از برآورد  معادل 50% قیمت کالای نو تا سقف بیمه درخواست شده پرداخت میشود.
            5.	بیمه انتخاب شده متضامن کالاهایی که دارای بسته بندی استاندارد نمی باشند، نخواهد بود.
            6.	در زمان درخواست غرامت برای مرسولات ثبت شده با سرویس پست بار ، می بایستی  مشخصات کارت ملی متقاضی غرامت (تصویر کارت ملی)، آدرس و شماره حساب در بخش مشخصات متقاضی غرامت   در لینک eop.post.ir درج گردد.

            ممنوعات پستی

            ممنوعات پستی به شرح ذیل میباشند: مایعات در ظروف شیشه ای، مرسولات شکستنی، تجهیزات ماهواره، فیلترشکن ها، دارو ، مشروبات الکی و مواد مخدر، تجهیزات نظامی، لوازم جنسی، مواد محترقه، اسکریپت های غیرمجاز، لوازم قمار، تجهیزات مخابراتی غیرمجاز، تجهیزات جاسوسی، اقلام مستهجن ، فالگیری و رمالی، پول نقد، چک، سفته ، اوراق بهادار  و جواهرات، فرش،
            و همچنین در ارسال به سایر کشورها هم پس از دریافت مرسوله توسط فعال پستی به شما اعلام خواهد شد که مرسوله جزء  ممنوعات پستی به کشور مقصد مورد نظرشما هست یا خیر.


    </div>
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4"></div>
            @RenderBody()
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4"></div>
        </div>

        @*<div class="footer-signup mr-top-30 d-none d-sm-block">
            <div class="row border-top-3">
                <div class="col-xs-12 col-sm-6 col-md-2"></div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="box-footer-sign mr-top-30">
                        <div class="row text-center">
                            <div class="col-md-3">
                                <a href="">درباره پست بار</a>

                            </div>
                            <div class="col-md-3">
                                <a href="">فرصت های شغلی</a>
                            </div>
                            <div class="col-md-3">
                                <a href="/%D8%AA%D9%85%D8%A7%D8%B3-%D8%A8%D8%A7-%D9%85%D8%A7">تماس با ما</a>
                            </div>
                            <div class="col-md-3">
                                <a href="">اخد نمایندگی</a>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12   copyright-row">
                                <span>استفاده از مطالب آخرین خبر پست بار فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت پست بار می‌باشد</span>
                            </div>
                            <div class="col-md-12 copyright-text  text-center">
                                <span>
                                    Copyright © 2017 - 2019 Postbar.ir
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2"></div>
            </div>
        </div>*@

    </div>


    @Html.NopCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NopScripts(this.Url, ResourceLocation.Footer, false)

</body>
