@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@using Nop.Web.Framework.UI
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@model Nop.Plugin.Misc.PostbarDashboard.Models.Tbl_Carousel_slideshow

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = T("Nop.Plugin.Misc.PrintedReports_Requirements.SlideShow_pagetitle").Text;


}

<form asp-controller="ManageSlideShow" asp-action="Edit" method="post" id="category-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            
            @T("Nop.Plugin.Misc.PrintedReports_Requirements.SlideShow_update")-@Model.Title_Carousel_slideshow
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.Plugin.Misc.PostbarDashboard.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
           
            @*<button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>*@
           </div>
    </div>
        @await Html.PartialAsync("/Plugins/Misc.PrintedReports_Requirements/Views/SlideShow/_CreateOrUpdate.cshtml",Model)

</form>