@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	int imgVer = 11;
	Html.AddTitleParts("پس کرایه (COD)");
	Html.AddMetaKeywordParts("پسکرایه , پرداخت در محل , COD");
	Html.AddMetaDescriptionParts("پس کرایه یا پرداخت محل یا به اختصار cod روندی ست مطمئن که مشتری بعد از تحویل محصول هزینه پست و یا هزینه کالا را پرداخت میکند");
}
<div class="container landing">
	<div class="row">
		<div class="col-md-12 content">
			<h1>پس کرایه و COD</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li><a href="/Home/DomesticPost">پست داخلی</a></li>
				<li>پس کرایه و COD</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 center mobile-center" >
			<a class="" href="/Order/Sh_Checkout?isCod=true">
				<img class="internal-logo" src="~/Themes/postexNew/images/Home/1/receiverLogo2.png?ver=@(imgVer)" alt="پرداخت در محل (COD) و پسکرایه"/>
			</a>
		</div>
		<div class="col-md-8">
			<p>
				همان‌طور که می‌دانید خرید آنلاین از فروشگاه‌های اینترنتی گسترش یافته است ولی در کنار آن وجود بعضی از درگاه‌های پرداخت نامعتبر باعث سلب اعتماد مشتریان و کاهش خرید آنلاین شده است. این موضوع موجب از دست رفتن بخشی از بازارِ هدفِ تعدادی از فروشگاه‌ها می‌شود. به همین دلیل گروهی از صاحبان کسب و کار مجازی، برای حل این مشکل از روش پرداخت در محل ( COD ) ویا پسکرایه استفاده می‌کنند.
			</p>
			<h2>
				پرداخت در محل  یا COD چیست ؟
			</h2>
			<p>
				پرداخت در محل یا Cash on delivery(COD)  را با نام هایی همچون پرداخت هنگام تحویل و… می شناسند .
				پرداخت در محل (COD) نوعی شیوه پرداخت است که در آن گیرنده مبلیغ سفارش را در زمان تحویل پرداخت می کند. در این مدل شرایط پرداخت به با توجه به مفاد پرداخت در قرارداد خرید متفاوت است . از جمله مزایا استفاده از روش COD می توان به حداقل رساندن خطرتقلب بین خریداران و فروشندگان استفاده کرد و به طور کلی تا زمانی که خریدار خرید خود را دریافت و تایید نکند نیازی به پرداخت پول ندارد .

			</p>

			<h3>پرداخت در محل از جمله روش هایی که برای پرداخت در این روش قابل استفاده است :</h3>
			<ul>
				<li>
					پرداخت با کارت بانکی در محل دریافت محصول: در این حالت مبلغ سفارش با دستگاه کارت‌‎خوان یا همان پوز پرداخت می‌شود.
				</li>
				<li>
					پرداخت نقدی: در این حالت هزینه به صورت نقدی پرداخت شده و پیک یا مامور پست آن را به حساب شرکت واریز می‌کند. این خدمت معمولا توسط شرکت‌های واسط پستی و حمل و نقل ارائه می‌شود و خود باعث کاهش ریسک دریافت کالای معیوب است.
				</li>
			</ul>

			<h4>مزایا استفاده از سرویس پرداخت در محل :</h4>
			<p>
				این روش پرداخت برای مشتریان مزایایی دارد از جمله؛ اگر کارت بانکی خریدار رمز دوم نداشته باشد می‌تواند به این صورت کالای مورد نظر خود را خریداری نماید. و همچنین در صروت وجود نقص در کالا میتواند از تحویل آن خودداری کند و یک خرید با اطمینان را تجربه کند. علاوه بر آن فروشندگانی که تازه‌کار هستند و نام و برند معتبر و مشهوری ندارند با ارائه این سیستم پرداخت، به اعتبار خود افزوده، اعتماد مشتریان را جلب و فروش بالاتری را ثبت می‌کنند. همچنین میتواند به فروشندگان کمک کند که از برخی تقلب در هویت خریدار ، یا برخی اختلافات در درگاه های پرداخت الکترونیکی جلوگیری کنند.
			</p>
			<h4>معایب استفاده از این روش :</h4>
			<p>
				در کنار تمامی مزایایی که برای این روش پرداخت بیان کردیم میتوان به ریسک هایی که این روش برای فروشندگان دارد نیز اشاره کرد
			</p>
			<ul>
				<li>
					امکان دارد خریدار به هر دلیلی از گرفتن محصول و بسته خودداری کند و بسته مرجوع شود در این صورت فروشنده مجبور به پرداخت هزینه های پستی است
				</li>
				<li>
					برای کالاهایی که حمل و نقل آسان ندارند این روش مناسب نیست .
				</li>
				<li>
					در روش پرداخت در محل  رسیدن مبلغ سفارش به دست فروشنده ، زمانبر بوده و میتواند باعث افت کیفیت خدمات برای مشتری شود.
				</li>
			</ul>
			<h3>برطرف کردن معایب روش پرداخت در محل با امنیتو</h3>
			<p>
				در توصیحات بالا با سیستم پرداخت در محل آشنا شدین .شرکت امنیتو با ارائه خدمات ویژه در سرویس  پرداخت در محل معایب این روش را برای فروشندگان گرامی برطرف کرده و استفاده از این را بهینه تر کرده است از جمله این خدمات می توان به:
			</p>
			<ul>
				<li>
					عدم دریافت سفته و چک در قبال ضمانت که در شرکت های پستی از فروشندگان دریافت میشود اشاره کرد
				</li>
				<li>
					به منظور افزایش خدمت رسانی به فروشندگان به محض تحویل بسته ارسالی توسط گیرنده مبلغ با فرستنده تسویه می شود
				</li>
				<li>
					امکان سفارش انبوه بسته پرداخت در محل موجود است
				</li>
				<li>
					امکان رهگیری مرسوله ارسالی وجود دارد
				</li>
				<li>
					امکان تولید بارکد به صورت 24 ساعته
				</li>
			</ul>


			<p>
				علاوه بر تمامی خدمات شرکت امنیتو در زمینه سرویس پرداخت در محل(COD) لازم به ذکر است با ارائه خدمت ویژه خود به نام <a href="/Home/AmnitoOrder">امنیتو</a> اطمینان از خرید را برای تمامی خریداران گرامی فراهم کرده است.

				سرویس خرید فروش امن یکی از سرویس های رایج در دنیا برای فروشندگان و خریداران در تمام دنیا است بدین صورت که در زمان خرید کالا از فروشگاه، توسط خریدار، وجه کالا و مبلغ خدمات ارسال در حساب خریدار، تا زمان تحویل مرسوله، بلوکه میگردد و پس تحویل و دریافت کالا توسط خریدار، وجه بلوکه شده به نفع حساب فروشنده آزاد میگردد.
			</p>



			<h2>
				پس کرایه
			</h2>
			<p>
				پس کرایه به این معنی می باشد که گیرنده هر زمان بسته پستی را دریافت کرد هزینه ارسال آن را پرداخت کند. بسیاری از افراد هستند که برای اینکه از سلامت بسته پستی خود زمانی که ارسال می شود اطمینان کافی پیدا کنند، روش پرداخت پس کرایه را انتخاب می کنند و از فرستنده درخواست می نمایند که کرایه را پرداخت نکند. شما باید به خوبی بدانید که این روش برای هر نوع ارسال بسته پستی به کار نمی رود و تنها برای روش های پستی مانند حمل درب تا درب می توانید از آن استفاده کنید.
			</p>
			<h3>
				ویژگی های پس کرایه چیست ؟
			</h3>
			<p>
				هر یک از شرکت های باربری دارای این خدمات می باشند و زمانی که مامور پست این شرکت ها مرسوله های پستی را به گیرنده می رسانند هزینه آن را دریافت می کنند. در سرویس پس کرایه فردی که فرستنده است باید متعهد شود گیرنده هزینه ارسال بار را پرداخت کند و در صورتی که گیرنده از پرداخت هزینه خودداری کند شرکت می تواند مرسوله را بازگرداند و هزینه های رفت و برگشت را از فرستنده دریافت نماید. خدماتی که مربوط به این سرویس می باشد تنها برای کالاهایی اجرا می شود که ارزش بالایی دارند و باید برای ارسال آنها ارزش گذاری انجام شود. دقت داشته باشید برخی از کالاهای دیگر به دلایل متنوع شامل خدمات پس کرایه نمی شوند و شما باید هزینه آن را به طور کامل پرداخت کنید.
			</p>

			<h3>پس کرایه در پست بین الملی</h3>

			<p>
				پس کرایه مرسولاتی که به این روش تعلق می گیرند هزینه حمل و نقل، انبارداری و …. می باشد.  البته که باید به خوبی بدانید اگر مسافت ارسال کالا زیاد باشد و مامور پست مسافت زیادی را برای ارسال کالا طی کند، باید گیرنده هزینه بیشتری را به عنوان پس کرایه پرداخت کند. بنابراین مسئله مسافت در پرداخت هزینه این روش دارای اهمیت بسیار زیادی می باشد و شما هم باید به این مسئله توجه داشته باشید. برخی از مرسوله هایی که غیر متعارف و خطرناک هستند در این خدمات قرار نمی گیرند و آنها را مامورین پست ارسال نمی کنند. بر این اساس شما باید برای ارسال بسته پستی خود از طریق خدمات پس کرایه با کارشناسان شرکت امنیتو در این مورد مشورت کنید تا آنها بعد از بررسی وضعیت بسته آن را بپذیرند. برخی از بسته هایی هم که وزن های نامتعارفی دارند و وزن آنها مطابق با استانداردهای مشخص شده نمی باشد در این خدمات قرار نمی گیرند و شما باید با روش های دیگری آنها را ارسال کنید.
			</p>
			<div class="content m-4">
				<a class="btn center" href="/Order/Sh_Checkout?isCod=true">شروع ثبت سفارش</a>
			</div>
		</div>

	</div>
</div>
