@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	int imgVer = 11;
	Html.AddTitleParts("شاپکس مدیریت فروشگاه های اینستاگرام");
	Html.AddMetaKeywordParts("مدیریت فروشگاه اینستاگرام ");
	Html.AddMetaDescriptionParts("شاپکس خدمت ویژه امنیتو به دارندگان فروشگاه های اینستگرامی و کسب و کار های کوچک برای بهتر دیده شدن و رفع موانع شبکه های اجتماعی");
}

<div class="container landing">
	<div class="row">
		<div class="col-md-12 content">
			<h1>شاپکس چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li><a href="/Home/DomesticPost">پست داخلی</a></li>
				<li>شاپکس</li>
			</ul>
		</div>
	</div>

	<div class="row ">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/Home/2/2_hover.png?ver=@(imgVer)" alt="شابکس پست فروشگاه های اینستاگرام"/>
			</a>
		</div>
		<div class="col-md-8 ">
			<p>
				با گسترش روزافزون روش های فروش و تبلیغات، یکی از قدیمی ترین روشهای فروش یعنی تله مارکتینگ با استفاده از کال سنتر همچنان یکی از روشهای موثر در امر فروش است.
			</p>
			<p>
				اما در این روش بازاریابی و فروش، نیازهای اعم از تریف کال سنتر، انبارداری، سطح دسترسی، تعریف محول و تعیین وضعیت ها نیز وجود دارد که با استفاده از سرویس شاپکس میتوانید از انبوهی از امکانات تخصصی این صنعت، اعم از تعیین سطوح دسترسی بازاریابی، پنل کال سنتر، پنل پیامکی، انبارداری، حسابداری ساده، گزارش گیری و انبوهی اطپز نیازی های تله شاپینگ را در خود جای داده است.
			</p>
			<p>
				حال شما میتوانید کلیه محصولات خود را در پنل شخصی خود بارگذاری کرده و 4 روش ارسال رایگان، پرداخت در محل، پرداخت نقدی، خرید و فروش امن و امکاناتی نظیر لیزینگ مبلغ کالای فروخته شده بر اساس درصد برگشتی به مانند خط اعتباری دایمی از شاپکس استفاده نمایید و با این روش شما میتوانید به امکانات و اطلاعات فوق العاده ای دست پیدا کنید که به بخشی از آنها در ذیل اشاره میگردد:
			</p>

			<ul>
				<li>اطلاعات آماری از خریداران و فروش ها</li>
				<li> بررسی سریع آسان به درخواستها بصورت روزانه</li>
				<li> امکان ارتباط با مشتریان بصورت جمعی، خصوصی، پیامکی و ایمیلی</li>
				<li> موجودی انبار</li>
				<li> رسیدگی به کالاهای ارسال شده</li>
				<li> بالانس کیف پول</li>
				<li> دسترسی به درگاه پرداخت</li>
				<li> دسترسی به انواع روش پرداخت اعم از پسکرایه، پرداخت آنلاین، پرداخت در محل (COD) و خرید فروش امن.</li>
				<li>  تعیین سطوح کال سنتری</li>
				<li> تولید بارکد با قابلیت چند مرحله ای و زمانبدی.</li>
				<li> تنظیمات تخصصی</li>

			</ul>
			<span class="slogan">
				با شاپکس همه چیز رو با هم بفروش.
			</span>
			<div class="content m-4">
				<a class="btn center" href="http://panel.postex.ir/">شروع ثبت سفارش</a>
			</div>
		</div>

	</div>
</div>
