@model Nop.Plugin.Misc.Ticket.Domain.Tbl_Ticket_Department



<div class="panel-group">

    <div class="panel panel-default">
        <div class="panel-body">
            
            <div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Name" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="StoreId" />
                    </div>
                    <div class="col-md-8">
                        <nop-select asp-for="StoreId" asp-items="Model.ListStores" />
                    </div>
                </div>
            </div>
            
          

        </div>
    </div>

</div>