
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>نمایش فایل</title>
</head>
<body>
    <div>
        <embed src="~/TicketFiles/@ViewBag.UrlFil" type="application/pdf" height="5000" width="100%" class="embed-responsive" />

    </div>
</body>
</html>


