@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	int imgVer = 11;
	Html.AddTitleParts("نمایندگی امنیتو");
	Html.AddMetaKeywordParts("نمایندگی");
	Html.AddMetaDescriptionParts("اعطای نمایندگی با درآمد بسیار بالا در تمامی نقاط ایران شرکت امنیتو اولین سامانه جامع خدمات حمل و نقل پستی کشور به صورت درب تا درب ");

}
<div class="container landing">
		<div class="row ">
			<div class="col-md-12 content">
				<h1>اخذ نمایندگی امنیتو</h1>
				<ul class="breadcrumb">
					<li><a href="/">خانه</a></li>
					<li>نمایندگی</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 center mobile-center">
				<a class="" href="#">
					<img class="internal-logo" src="~/Themes/postexNew/images/Home/1/نمایندگی.png?ver=@(imgVer)" alt="نمایندگی امنیتو" />
				</a>
			</div>
			<div class="col-md-9">

				<p>
					شما با داشتن نمایندگی امنیتو انگار نمایندگی مجازی پست، مجوز شرکت ماهکس ، مجوز چاپار، مجوز یار باکس، ندکس، آرامکس، PDE ( پست خارجی)، امنیتو و BSW ( پست خارجی)  را در صفحه موبایل و لب تاپ خود خواهید داشت که برای به بدست آوردن تمامی آنها میبایستی حداقل 2 میلیارد تومان هزینه کنید
				</p>
				<h2>
					درآمد نمایندگی امنیتو چیست چگونه نمایندگی را میتوان اخذ کرد؟
				</h2>
				<p>
					شما میتوانید به راحتی و تحمل هزینه هایی نزدیک به صفر با ما همکاری کنید یک فرم آنلاین درخواست نمایندگی رو پر کنید همکاران فنی ما پس تایید و بررسی صلاحیت با شما تماس خواهند گرفت و حالا با ارائه مدارکی اعم از چک، سفته، قرارداد، سند ماشین و موتور، اجاره نامه محل کسب، گواهی عدم سوء پیشینه و ... نمایندگی شما احراز خواهد شد
				</p>
				<ul>
					<li>
						امنیتو  برای خدمات ماهکس 15 الی 20 درصد تخفیف، خدمات پست 10 الی 15 درصد، خدمات چاپار، یارباکس، ندکس، آرامکس و ... 10 درصد تخفیف و برای خدمات پست خارجی بهش 5 درصد تخفیف به نماینده خود ارائه مینماید.
					</li>
					<li>
						یادآوری می نماید هر مرسوله پست خارجی میتواند تا اندازه، 50 مرسوله پست داخلی برای نماینده سودآور باشد.
					</li>
					<li>
						در زمینه جمع و توزیع نیز نماینده بر این اساس که در کدام شهر قراردارد از سیستم هوشمند امنیتو درآمد کسب خواهد نمود
					</li>
				</ul>
				<p>
					در نهایت این چنین میتوان ارزیابی کرد میزان درآمد نماینده به میزان فعالیت نماینده وابسته است.
				</p>
				<span class="slogan">با نمایندگی امنیتو، نماینده همه هستی</span>
				<br />
				<div class="content m-4">
					<a class="btn center" href="https://app.didar.me/customer/form/a47ebe1f-37f7-4e13-9023-b9b460b768ef">درخواست نمایندگی</a>
				</div>
			</div>

		</div>

	</div>
