@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("پست بیولوژیک");
	Html.AddMetaKeywordParts("پست بیولوژیک , پست سرد ");
	Html.AddMetaDescriptionParts("پست بیولوژیک یا اصطلاحا پست سرد خدمت نوین امنیتو در عرصه ارسال نمونه های عفونی-آزمایشگاهی و مواد شیمیایی در۲۴ الی ۳۶ ساعت در تمامی نقاط کشور است");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>پست سرد</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>پست سرد</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/services/coldex.png" alt="پست سرد(بیوپست)"/>
			</a>
		</div>
		<div class="col-md-9 content">
			<h2>
				بیو امنیتو
			</h2>
			<p>
				پست بیولوژیک و پست سرد خدمتی جدید از امنیتو که با نام
				با نام بیو امنیتو که مخصوص حمل نمونه های عفونی-آزمایشگاهی و مواد شیمیایی است
				در۲۴ الی ۳۶ ساعت در تمامی نقاط کشور توزیع میشود
				و جمع آوران، مرسولات همراه و موقعیت پستی در سلامت خواهند بود.-
			</p>
			<div class="content m-4">
				<a class="btn center" href="#"> بزودی</a>
			</div>
		</div>

	</div>

</div>
