@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	int imgVer = 11;
	
	Html.AddTitleParts("پست بین المللی");
	Html.AddMetaKeywordParts("پست بین المللی,پست خارجی");
	Html.AddMetaDescriptionParts("پست بین المللی امنیتو ارسال سریع کالا ، مدارک و... به سراسر دنیا با ارائه کد رهگیری جهت پیگیری مرسولات پستی خود به صورت زمینی و هوایی");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>پست خارجی (بین المللی) چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>پست خارجی</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/Home/1/pme-01.png" alt="پست بین المللی امنیتو"/>
			</a>
		</div>
		<div class="col-md-9 content">
			<p>
				امنیتو با اتکا به امکانات پست داخلی و نمایندگی های گسترده خود برای اولین در کشور موفق گردیده است خدمات پست خارجی را از درب تا درب و امکان تایید قطعی قیمت به انجام رساند.
			</p>
			<p>
				هم اکنون در بخش پست خارجی امنیتو چندین شرکت عرضه کننده سرویس پست خارجی عرضه سرویس مینمایند که این امر باعث شده است تا پوشش امنیتو به 202 کشور در دنیا باشد و تنوع این شرکتها باعث گردیده تنوع وسیعی از کالا برای ارسال به اقصی نقاط دنیا در دسترس باشد بدین معنی که شرکتهای عرضه کننده پست خارجی در یک یا کشور در خارج از ایران دارای ستاد اجرایی میباشند و کلیه کالاها و مرسولاتی که از ایران ارسال میگردد ابتدا به کشوری که شرکتی پستی دارای ستاد میباشد ارسال میگردد و پس از ورود کالا به کشور میانی از آن نقطه مرسوله با استفاده از سرویس های پست بین المللی مانند DHL یا FEDEX به کشور مقصد ارسال میگردد.
			</p>
			<p>
				به یک مثال توجه کنید ارسال آجیل به غیر از ایران از هر نقطه ای به امریکا آزاد میباشد ولی اگر شرکت سرویس دهنده پست خارجی ستادی مستقر در دبی داشته باشد، از آنجایی که واردات آجیل از ایران به امارات، ممنوع میباشد امکان ارسال آجیل با آن شرکت پستی مقدور نیست حال اگر آن شرکت دارای ستاد در اروپا باشد با توجه به اینکه ارسال آجیل از ایران به یونان آزاد میباشد ارسال آجیل از ایران به امریکا از طریق شرکتی که ستاد در اروپا دارد مقدور است.
			</p>
			<p>
				توجه داشته باشید که با توجه به اینکه در 202 کشور در دنیا قوانین متفاوت گمرکی وجود دارد لذا امکان عرضه قیمت قطعی در برای مرسولات پست خارجی وجود ندارد بدین معنی که پس از بارگذاری عکسهای کالای مد نظر فرستنده در امنیتو و انتخاب شرکت سرویس دهنده، آن شرکت در ظرف کمتر از یک ساعت امکان و قیمت قطعی ارسال را از طریق پیامکی که حاوی لینک پرداخت میباشد ارسال مینماید.
			</p>

			<span class="slogan">با امنیتو در کل دنیا بازاریابی کن </span>
			<br />
			<div class="content m-4">
				<a class="btn center" href=" @(Url.RouteUrl("_Sh_Checkout")+"?pa=f")">شروع ثبت سفارش</a>
			</div>


			<img src="~/Themes/postexNew/images/pme-info.png" alt="پست بین المللی امنیتو" />

		</div>
	</div>

</div>
