@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("ارسال کادو");
	Html.AddMetaKeywordParts("ارسال کادو");
	Html.AddMetaDescriptionParts("کادوکس امکان ارسال انواع کادو و گل و شیرینی به صورت درب تا درب به کمک سامانه امنیتو و سفارش آنلاین در کمترین زمان ممکن");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>کادوکس چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>کادوکس</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/services/kadox.png" alt="ارسال کادو بسته و گل با کادوکس"/>
			</a>
		</div>
		<div class="col-md-9 content">

			<p>
				بزارید جواب این سوال رو با یک سوال شروع کنیم!
			</p>
			<p>
				تا به حال در شرایطی قرار گرفتید که برای فردی برای روز تولدش بخواهید کنارش باشید و به هر علتی این شرایط فراهم نشده است و احتمالا کادوی مورد نظر ایشون رو هم آماه کردید و با شرکتهای پستی فرستادید و سر موقع نرسیده باشد.
			</p>
			<p>
				کادوکس سامانه کادو اکسپرسی است که شما با ثبت شهر مقصد خود، نیاز به کادوپیچی، گل و حتی کیک مد نظرتان میتوانید کادوی مورد مورد نظرتان رو به موقع و با شرایط مورد نظرتان به دست فردی که در نظر دارید برسانید.
			</p>
			<span class="slogan">با کادوکس فاصله ها کم میشه.</span>
			<br />
			<div class="content m-4">
				<a class="btn center" href="#">بزودی</a>
			</div>
		</div>

	</div>

</div>
