<div class="landing">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h2>همکاران ما</h2>
			</div>
			<div class="clear"></div>
			<div class="col-md-12 partners">
				<div class="partners-carousel">
					@*<div class="carousel-cell">
							<div class="row image-title">
								<a href="/home/partners/postbar">
									<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/Postbar.png" />
									<span class="col-sm-9 p-2">خدمات سرویس پست بار</span>
								</a>
							</div>
						</div>
						<div class="carousel-cell">
							<div class="row image-title">
								<a href="/home/partners/postex">
									<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/postex.png" />
									<span class="col-sm-9 p-2">خدمات سرویس امنیتو</span>
								</a>
							</div>
						</div>*@
					<div class="carousel-cell" style="background-color:#4a2581;">
						<div class="row image-title" >
							<a href="#">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/tarrof.png" />
								<span class="col-sm-9 p-2">خدمات سرویس تعارف</span>
							</a>
						</div>
					</div>

					<div class="carousel-cell" style="background-color:#4a2581;">
						<div class="row image-title">
							<a href="#">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/speed.png" />
								<span class="col-sm-9 p-2">خدمات سرویس اسپید </span>
							</a>
						</div>
					</div>
					<div class="carousel-cell" style="background-color:#4a2581;">
						<div class="row image-title">
							<a href="#">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/link.png" />
								<span class="col-sm-9 p-2">خدمات سرویس لینک اکسپرس</span>
							</a>
						</div>
					</div>

					<div class="carousel-cell" style="background-color:#4a2581;">
						<div class="row image-title">
							<a href="#">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/PPT.png" />
								<span class="col-sm-9 p-2">خدمات سرویس پیشروپست</span>
							</a>
						</div>
					</div>
					@*<div class="carousel-cell">
						<div class="row image-title">
							<a href="/home/partners/rahe-aseman">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/rahe-aseman.png" />
								<span class="col-sm-9 p-2">خدمات سرویس راه آسمان آبی</span>
							</a>
						</div>
					</div>*@
					<div class="carousel-cell" style="background-color:#4a2581;">
						<div class="row image-title">
							<a href="#">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/snappbox.png" />
								<span class="col-sm-9 p-2">خدمات سرویس اسنپ باکس</span>
							</a>
						</div>
					</div>

					@*<div class="carousel-cell">
							<div class="row image-title">
								<a href="/home/partners/obar">
									<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/obar.png" />
									<span class="col-sm-9 p-2">خدمات سرویس اوبار</span>
								</a>
							</div>
						</div>*@

					@*<div class="carousel-cell">
							<div class="row image-title">
								<a href="/home/partners/tpg">
									<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/tpg.png" />
									<span class="col-sm-9 p-2">خدمات سرویس TPG</span>
								</a>
							</div>
						</div>*@

					@*<div class="carousel-cell">
						<div class="row image-title">
							<a href="/home/partners/persia-express">
								<img class=" col-sm-3 p-2" src="~/Themes/postexNew/images/partners/persia-express.png" />
								<span class="col-sm-9 p-2">خدمات سرویس پرشیا اکسپرس</span>
							</a>
						</div>
					</div>*@
				</div>
			</div>
		</div>
		<script>
			var $partners_carousel = $('.partners-carousel');
			//$partners_carousel.on('ready.flickity', function () {
			//	console.log('Flickity ready');
			//});
			//$partners_carousel.on('change.flickity', function (event, index) {
			//	console.log('Slide changed to ' + index)
			//});

			$partners_carousel.flickity({
				freeScroll: true,
				rightToLeft: true,
				cellAlign: "right",
				wrapAround: true,
				autoPlay: 1500,
				contain: true
			});

									//$partners_carousel.flickity('destroy');
									//$partners_carousel.flickity({
									//	freeScroll: true,
									//	rightToLeft: true,
									//	cellAlign: "right",
									//	wrapAround: true,
									//	autoPlay: 1500,
									//	contain: true
									//});
		</script>
	</div>
</div>