@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	int imgVer = 11;
	Html.AddTitleParts("پیک درون شهری");
	Html.AddMetaKeywordParts("پیک درون شهری, امنیتو");
	Html.AddMetaDescriptionParts("پیک درون شهری امنیتو ساده ترین ، سریع ترین و مقرون به صرفه ترین راه حمل و نقل داخل شهر مناسب برای فروشگاه های اینترنتی و سایر کسب و کارهای می باشد");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>امنیتو چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>امنیتو</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="https://postex.ir/Bulkorder2?isPeyk=true">
				<img class="internal-logo" src="~/Themes/postexNew/images/Home/1/peykhub-01.png" alt="پیک درون شهری" />
			</a>
		</div>
		<div class="col-md-9 content">

			<p>
				امنیتو بازارگاهی در حوزه پیک شهری است که از سال 1400 و با تجمیع خدمات تعدادی از شرکتهای عرضه کننده پیک درون شهری و پیک های مدرن شروع به کار نموده است.
			</p>
			<p>
				خدمت نوین امنیتو با بهره گیری از ناوگان شرکتهای متنوع توزیع درونی شهر، این امکان را برای شرکتها و فروشگاههای آنلاین فراهم کرده است تا بتوانند مرسولات خود را در درون شهرهای خود توزیع و جمع آوری نمایند.
			</p>
			<p>
				لازم به ذکر پیک با بهره گیری از شبکه نمایندگان خود امکان ارائه خدمات لجستیکی و ارسال مرسولات فروشگاههای اینترنتی را از تمامی شهرهایی که نمایندگان پیک حضور دارند را به همراه خدمات انبارداری و بسته بندی دارا میباشد .
			</p>
			<p>
				وظیفه امنیتو،  توزیع و جمع آوری کالا با استفاده از توان دهی سرویس پیکی در بخش درون شهری به صورت آنلاین است که حوزه فعالیت آن در شهرهای تهران کلیه مراکز استانها و 180 شهر کشور میباشد و حوزه فعالیت این سرویس صرفا در مناطق شهرداری از شهرهای صدرالذکر منحصر میگرددد که این خدمات مخصوص تجار و فروشگاهها با قیمتی ثابت بدون وابستگی به طول مسیر، ترافیک و بصورت پیشکرایه و COD  قابل عرضه میباشد.
			</p>
			<p>
				حداکثر وزنی این سرویس 20 کیلو گرم و در بخش ابعاد حداکثر 30*40*50 سانتی متر میباشد. از جمله ویژگی های این سرویس، میتوان به این موضوع اشاره کرد که قیمت وابسته به فاصله ، ترافیک و ساعت درخواست نمیباشد .
			</p>
			<p>
				کلیه مرسولات در سرویس امنیتو می بایستی طی ۶ ساعت پس از تعیین نقطه جغرافیایی از مقر فرستنده جمع آوری و در نقطه مورد نظر گیرنده تحویل گردد.
			</p>

			<br />
			<span class="slogan">با امنیتو کسب و کارت رو به راهه.</span>
			<br />
			<div class="content m-4" style="background-color:#ec681c">
				<a class="btn center" href="/Bulkorder2?isPeyk=true">شروع ثبت سفارش</a>
			
			</div>

			<img src="~/Themes/postexNew/images/peykhub-info.png" />

		</div>
	</div>

</div>
