@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("خدمات آنلاین پست");
	Html.AddMetaKeywordParts("خدمات آنلاین پست ، درب تا درب");
	Html.AddMetaDescriptionParts("انجام کلیه خدمات آنلاین پست به صورت درب تا درب ، مخصوص کسب و کارهای مجازی (پیج های اینستاگرامی و فروشگاه های اینترنتی)");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>امنیتو چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>امنیتو</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/postex.png" />
			</a>
		</div>
		<div class="col-md-8">
			<p>
				امنیتو اولین هاب پستی ایران با ارائه دهنده خدمات آنلاین پست به صورت درب تا درب است که در آن متقاضیان این امکان را خواهند داشت تا از بین سرویس های پستی، حمل و نقل شهری و حمل و نقل سنگین و با توجه به مقایسه قیمت، سرعت و کیفیت به انتخاب سرویس مورد نظر خود بپردازند.
			</p>
			<p>
				در این سامانه، صاحبان مشاغل و صنایع قادر خواهند بود با استفاده از سرویس های فعالین پستی اعم از شرکت پست(از طریق سرویس بازارمتریال - پست بار)،اپراتور اول پست، سرویس چاپار، اسنپ باکس، DPE، TPG، پرشیا، از سرویس متنوع پست شهری و بین شهری و داخلی و خارجی بهره برداری نمایند
			</p>
			<p>
				اما در بخش حمل و نقل سنگین نیز سرویس اوبار با کشف نزدیک ترین کامیونت به متقاضی امکان مقایسه قیمت،سرعت و کیفیت عرضه خدمت مینماید.
			</p>
			<p>
				شما میتوانید به راحتی با مقایسه قیمت، سرعت و کیفیت خدمات، از سرویس های متنوع سامانه پستِکس استفاده کنید.
			</p>
			<p> از نکات برجسته این سامانه به امکان استفاده از تمامی سرویس ها بصورت درب تا درب و دریافت بارکد پستی بلافاصله پس از ثبت سفارش میتوان اشاره نموده.</p>
			<p>اگر از اپلیکیشن آپ استفاده میکنید امنیتو ماژول خدمات پستی را در این سوپر اپلیکیشن عرضه مینماید.</p>
			<p>
				ضمنا امنیتو در اپلیکیشن های هایپر جت و آچاره جهت تسهیل خدمات پستی ارایه خدمت مینماید که اگر چنانچه نیاز دائمی به استفاده از خدمات پستی ندارید میتوانید استفاده از سامانه های یاد شده از خدمات پستی با قیمتی یکسان استفاده نمایید.
			</p>
			<p>
				در ادامه باید خاطر نشان کرد اگه از فروشگاه ساز بیدوک، وردپرس یا ناپ کامرس استفاده میکنید میتوانید با خیال آسوده و به راحتی از افزونه یِ سامانه جامع پستِکس و امکاناتش برای کسب و کار آنلاین خود بهره برداری نمایید.
			</p>
			<p>
				لازم به ذکر است اپلیکیشن های اندروید و IOS برای کسانی که بطور مداوم متقاضی خدمات پستی میباشند در دسترس میباشد.
			</p>

			<span class="slogan">
				پستِکس، اولین سامانه جامع خدمات حمل و نقل کشور
			</span>
			<br />
		</div>

	</div>
	<div class="row">
		<div class="col-md-8" style="margin:0 auto">
			<h4>راه های ارتباطی با امنیتو</h4>
			<img src="~/Themes/postexNew/images/Sociat.png" alt="راه های ارتباطی امنیتو" />
			<div class="social-links" style="margin-top:20px">
				<div class="item">
					<img src="~/images/socials/instagram.png" alt="امنیتو در اینستاگرام"/>
					<span>
						اینستاگرام:
						<br />
						<a href="https://www.instagram.com/postex.ir" dir="ltr">@@postex.ir</a>
					</span>
				</div>
				<div class="item">
					<img src="~/images/socials/telegram.png" alt="امنیتو در تلگرام"/>
					<span>
						تلگرام:
						<br />
						<a href="https://t.me/postex" dir="ltr"> @@postex</a>
					</span>
				</div>
				<div class="item">
					<img src="~/images/socials/telephone.png" alt="شماره تماس امنیتو"/>
					<span>
						شماره تماس:
						<br />
						02191090926
						<br />
						02191300250
					</span>
				</div>
				<div class="item">
					<img src="~/images/socials/email.png" />
					<span>
						ایمیل:
						<br />
						<a href="mailto:Info@postex.ir">Info@postex.ir</a>
					</span>
				</div>
				<div class="item">
					<img src="~/images/socials/linkedin.png" alt="امنیتو در لیندکدین"/>
					<span>
						لینکدین:
						<br />
						<a href="https://www.linkedin.com/company/postex-ir" dir="ltr"> @@postex-ir</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
