<div class="row">
	<div id="services" class="services">
		<div class="col-md-12">
			<div id="timeline-title">
				<h2>خدمات ما</h2>
				<p class="leader">با امنیتو خدمات متنوع پستی رو تجربه کن</p>
			</div>
			<div class="services-timeline" >

				@*<div class="timeline-row">
					<a href="/Home/About-us" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/postex.png" />
						</div>
						<h3 class="title">امنیتو</h3>
						<p class="description">
							امنیتو سامانه خدمات جامع حمل و نقل و لجستیک خرده فروشی و حمل و نقل سنگین با استفاده از ظرفیت
							شرکت های مختلف پستی و حمل و نقل کشور می باشد.
						</p>
					</a>
				</div>*@

				<div class="timeline-row">
					@*<a href="/Home/DomesticPost" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/postbar.png" />
						</div>
						<h3 class="title">پست بار</h3>
						<p class="description">
							تمامی سفارشات مشتریان توسط نمایندگان جمع آوری و از تمام
							ظرفیت حمل و نقل (ریلی، هوائی، دریایی و زمینی) جهت ارائه
							خدمات بهتر استفاده می شود.
						</p>
					</a>*@
				</div>
				<div class="timeline-row">
					<a href="#" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/download.png" />
						</div>
						<h3 class="title"> ارسال سریع</h3>
						<p class="description">
							ارسال در کوتاه ترین زمان ممکن 
							مدت زمان ارسال حداکثر 6 ساعت
						</p>
					</a>
				</div>
				<div class="timeline-row">
					<a href="#" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/doorindoor.png" />
						</div>
						<h3 class="title">ارسال درب تا درب</h3>
						<p class="description">
							جمع آوری مرسوله از درب منزل فرستنده و تحویل در محل گیرنده 
						</p>
					</a>
				</div>
				<div class="timeline-row">
					<a href="#" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/delivery-png-picture.png" />
						</div>
						<h3 class="title">ارسال درون شهری </h3>
						<p class="description">
							فعال بودن ارسال درون شهری برای بیش از 90 شهر کشور 
						</p>
					</a>
				</div>
				<div class="timeline-row">
					<a href="#" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/price-tag-icon.webp" />
						</div>
						<h3 class="title">قیمت مناسب</h3>
						<p class="description">
							بهترین قیمت را انتخاب کنید و با خیال راحت ارسال را انجام دهید 
						</p>
					</a>
				</div>
				@*<div class="timeline-row">
					<a href="/Home/ShipitoPlus" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/shipito.png" />
						</div>
						<h3 class="title">شیپیتو پلاس</h3>
						<p class="description">
							انجام کلیه خدمات پستی به صورت آنلاین و درب تا درب ، در سریع
							ترین زمان ممکن و با کمک هوش مصنوعی برای مسیریابی سریع تر
						</p>
					</a>
				</div>*@
			@*	<div class="timeline-row">
					<a href="/Home/Kadox" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/kadox.png" />
						</div>
						<h3 class="title">کادوکس</h3>
						<p class="description">
							امکان ارسال انواع کادو و گل و شیرینی به صورت درب تا درب به کمک سامانه امنیتو و سفارش آنلاین در کمترین زمان ممکن
						</p>
					</a>
				</div>
				<div class="timeline-row">
					<a href="/Home/AmnitoOrder" class="timeline-content">
						<div class="timeline-step">
							<img class="timeline-logo" src="~/Themes/postexNew/images/services/amnito.png" />
						</div>
						<h3 class="title">امنیتو</h3>
						<p class="description">
							امکان ارسال مرسوله با پرداخت امن برای دارندگان فروشگاه های
							اینترنتی. به صورت درب تا درب، پرداخت وجه پس از دریافت کالا و
							تأیید آن توسط خریدار
						</p>
					</a>
				</div>*@
			</div>
		</div>
	</div>
</div>