@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("مدیریت فروشگاه های اینستاگرام و آنلاین");
	Html.AddMetaKeywordParts("فروشگاه های اینستاگرامی ، فروشگاه آنلاین ,  فروشگاه تلگرامی ");
	Html.AddMetaDescriptionParts("سابکس سامانه جامع مدیریت فروشگاه های اینستاگرامی ، تلگرامی و آنلاین با قابلیت آنالیز خریداران و سفارشات ، دسترسی به تمامی شرکت های پستی ، دسترسی به درگاه پرداخت امن و... ");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>سابکس چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>سابکس</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/services/subex.png" alt="سابکس چیست؟"/>
			</a>
		</div>
		<div class="col-md-9 content">

			<p>
				امروزه که هزینه ترین و سریع ترین راه برای ایجاد فروشگاه آنلاین استفاده از شبکه اجتماعی اینستاگرام یا پیام رسان تلگرام میباشد.
				اما استفاده ساده و ارزان از این نوع زیر ساخت ها تبعاتی نیز خواهد داشت که بخش بعدی به موارد اهم تر از این موضوع اشاره خواد شد:
			</p>
			<ul>
				<li>
					تنها راه کنترل سفارش های روزانه مراجعه به دایرکتها و پیام های واصله میباشد
				</li>
				<li>
					اطلاعات منسجمی از خریداران اعم از استان، شهر، نوع کالای خریداری شده، تعداد خرید از یک نوع کالا و ... قابل گردآوری نمی باشد.
				</li>
				<li>
					امکان اطلاع رسانی جمعی یا پیامکی وجود ندارد.
				</li>
				<li>
					امکان از استفاده از درگاههای پرداخت وجود ندارد.
				</li>
				<li>
					امکان استفاده از سرویس های متنوع پستی با تنفیذ اختیار به مشتری وجود ندارد.
				</li>
			</ul>

			<p>
				حال آنکه با استفاده از سرویس سابکس میتوانید کلیه محصولات خود را در پنل شخصی خود بارگذاری کرده و با دریافت یک لینک اختصاصی و عرضه آن به مشتری یا قرار دادن در بیوگرافی، خریدار با مراجعه به کلیک کردن لینک شما، لیست کاملی از محصولات فروشگاه شما را خواهد داشت پس لذا به راحتی میتواند با ئارد کردن آدرس؛ نوع کالای منتخب، روش ارسال و حتی نوع سرویس پرداخت از مجموعه شما خرید بنماید که با این روش شما میتوانید به امکانات و اطلاعات فوق العاده ای دست پیدا کنید که به بخشی از آنها در ذیل اشاره میگردد:
			</p>
			<ul>
				<li>
					اطلاعات آماری از خریداران و فروش ها
				</li>
				<li>
					بررسی سریع آسان به درخواستها بصورت روزانه
				</li>
				<li>
					امکان ارتباط با مشتریان بصورت جمعی، خصوصی، پیامکی و ایمیلی
				</li>
				<li>
					موجودی انبار
				</li>
				<li>
					رسیدگی به کالاهای ارسال شده
				</li>
				<li>
					بالانس کیف پول
				</li>
				<li>
					دسترسی به درگاه پرداخت
				</li>
				<li>
					دسترسی به انواع روش پرداخت اعم از پسکرایه، پرداخت آنلاین، پرداخت در محل (COD) و خرید فروش امن
				</li>
			</ul>
			<span class="slogan">با سابکس فروشگاهت رو گسترش بده.</span>
			<br />
			<div class="content m-4">
				<a class="btn center" href="subex.postex.ir"> شروع ثبت سفارش </a>
			</div>
		</div>

	</div>

</div>