@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("پست داخلی چاپار ");
	Html.AddMetaKeywordParts("ارسال کالا ، چاپار");
	Html.AddMetaDescriptionParts("شركت كالارسانان چاپار  با استفاده از امكانات گسترده خود در اغلب شهرها امكان دريافت محموله از درب منزل يا محل كار و ارسال آن به مقصد در كوتاه ترين مدت با امكانات زميني-هوایی و سریع را فراهم نموده است");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>ارسال کالا با چاپار</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>چاپار</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/chapar.png" alt="چاپار" />
			</a>
		</div>
		<div class="col-md-8">

			<p>
				شركت كالارسانان چاپار وابسته به گروه ترابری بین المللی زنجیره با بيش از 15 سال سابقه فعالیت تخصصی در زمينه های مختلف حمل، اعم از زميني و هوايي و داشتن نمایندگی از خطوط هواپيمايي جمهوری اسلامی ایران ، ماهان و هواپیمایی آسمان و با بیش از صد نمایندگی در سراسر کشور امكان ارسال محمولات سبك و سنگين را فراهم نموده است. اين شركت با استفاده از امكانات گسترده خود در اغلب شهرها امكان دريافت محموله از درب منزل يا محل كار و ارسال آن به مقصد در كوتاه ترين مدت با امكانات زميني-هوایی و سریع را فراهم نموده است.همچنین جهت ایجاد ایمنی و سهولت در جبران خسارات احتمالی حین حمل, چاپار نسبت به عقد قرارداد با شرکت بیمه آسیا و صدور بیمه نامه همزمان با صدور بارنامه چاپار اقدام نموده و در صورت بروز حادثه جهت محموله بیمه شده چاپار نسبت به پیگیری خسارت اقدام خواهد نمود. شرکت کالا رسانان چاپار با ایجاد شبکه وسیعی از شعب خود در سراسر ایران و با استفاده از مدرن‏ترین تجهیزات ارتباطی و به کارگیری افراد مجرب سعی بر امانتداری مردم نموده است. سرعت و حفاظت به همراه تعهد و امانتداری دستاورد عظیمی است که شرکت کالا رسانان چاپار را در جایگاه اعتماد مردم ، ثابت قدم نگه داشته و این اعتماد زمینه رشد و گسترش فعالیت‎ شرکت را ایجاد نموده‏ است. شرکت کالا رسانان چاپار با برخورداری از کارکنان متبحر و متعهد با کلیه امکانات و ارائه سرویس مطمئن و سریع توانسته است علاوه بر جلب رضایت مشتریان گام موثری در صنعت خدمات حمل کالا بردارد.
			</p>
			<p>
				شرکت نام آشنای چاپار در بخش های ارسال سریع، حمل و نقل داخلی، حمل و نقل بین المللی، چاپار پلاس و در بیش از ۱۰۰ شهر ایران فعال میباشد.
			</p>
			<p>
				شرکت کالا رسانان چاپار با اضافه کردن سرویس ارسال فوری درب به درب در سراسر کشور این امکان را برای شما مشتریان محترم جهت ارسال دقیق، منظم و سریع کالاهایتان با قیمت مناسب و سرعت بسیار بالا فراهم نموده است. همچنین شرکت کالارسانان چاپار به عنوان اولین و تنها شرکت حمل ونقل داخلی دارای نمایندگی رسمی از ایران ایر، ماهان و آسمان بوده و به همین دلیل مجوز صدور بارنامه‌های ایرلاین‌های ذکر شده در دفتر مرکزی را دارد.
			</p>
			<p>
				ارسال محمولات هوایی از طریق شرکت کالارسانان چاپاربه دو صورت توزیع درب به درب با صدور بارنامه هوایی داخلی و تحویل در فرودگاه مقصد با صدور بارنامه های ایرلاین های فوق مقدور می باشد.ضمنا مزیت بارنامه های داخلی هوایی نسبت به بارنامه‌های خطوط هوایی یاد شده علاوه بر توزیع درب به درب، امکان بیمه نمودن محمولات و استفاده از مزایای بیمه در صورت بروز سانحه و ایجاد خسارت برای محموله می‌باشد.
			</p>
			<span>
				<strong>
					حداکثر وزن:
				</strong>
				50 کیلو گرم
			</span>
			<br />
			<span>
				<strong>
					حداکثر ابعاد :
				</strong>
				3 متر
			</span>

			<p>
				واژه ی بازیافته از "چهار پای پیک" که در زمان هخامنشیان در سراسر آسیای صغیر به "چاپار" تخفیف یافت و در زبان ترکی نیز وارد شد. بنظر تحریف در اصل واژه چاپار در توصیف فوقالذکر مشاهده میگردد چاپار در واقع یعنی کسی که با سرعت با اسب تاخت و تاز مینماید چاپماق
				=در زبان تورکی یعنی راندن و سوارکاری کردن اسب چاپار = در زبان تورکی کسی که به سرعت اسب میراند/سوارکاری میکند
			</p>
			@*<div class="content m-4">
					<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
				</div>*@
		</div>
	</div>
</div>