@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("پست سریع ماهکس");
	Html.AddMetaKeywordParts("پست سریع ، ماهکس");
	Html.AddMetaDescriptionParts("ماهکس با مالکیت شرکت سریع ترابر ماهان با خدمات سرویس های نقدی پسکرایه و پرداخت در محل اراِئه میگردد و تمامی سرویس ها از 24 الی 72 ساعت میباشد. ");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>پست سریع ماهکس چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>ماهکس</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/mahex.png"  alt="ماهکس"/>
			</a>
		</div>
		<div class="col-md-8">
			<p>
				برند تجاری ماهکس با مالکیت شرکت سریع ترابر ماهان در اسفند ماه سال ۱۳۹۳ با هدف ارایه عرضه راهبرد و راهبری در حوزه صنعت لجستیک کشور مخصوصا صنعت پستی فعالیت خود را آغاز نموده است. همسو با اهداف ماهکس و از ابتدای شروع فعالیت خود تاکنون با اتکا به دارایی های بومی و نخبگان داخلی همواره تلاش کرده است تا نقشی موثر، اثربخش و کارآمد در راستای بهبود کیفیت خدمات و مولفه های تاثیر گذار در شبکه لجستیک ایران ایفا نماید.
			</p>
			<p>
				مجموعه سریع ترابر ماهان (ماهکس) با اصل قراردادن رعایت و توجه به اصل مشتری‌مداری، همواره تلاش کرده است با طراحی راهکارهای ویژه لجستیکی و فرم پذیری در فرایند عرضه خدمات، با اتکا بر دانش نخبگان ایرانی، راه را برای رضایت‌‌مندی مشتریان خود را هموار کرده و تلاشی مضاعف بر ایجاد ارزش افزوده برای کلیه ذینفعان سازمان متمرکز نموده است. از نشانه های این امر میتوان به طراحی، تولید و راه‌اندازی اولین انبار و مرکز مکانیزه پردازش کشور به همّت والای کارشناسان جوان این مرز‌ و بوم بوده که تولید دانش و کلیه مراحل طراحی و اجرای آن توسط متخصصان ایرانی صورت‌پذیرفته است.
			</p>
			<p>
				در حال حاضر ماهکس در قالب یک شبکه گسترده داخلی و خارجی، با در اختیار داشتن ناوگان هوایی،‌ زمینی و امکانات پیشرفته روز و همکارانی ورزیده، متخصص، با دارا بودن نمایندگی در شهرهای مختلف کشور و در 500 نقطه  در تلاش برای ارایه بهترین، مطمئن‌ترین و سریع‌ترین خدمات حمل می‌باشد. لازم به ذکر است خدمات این شرکت در قالب سرویس های نقدی پسکرایه و پرداخت در محل اراِئه میگردد و تمامی سرویس ها از 24 الی 72 ساعت میباشد.
			</p>
		</div>

	</div>

</div>
