@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("پست بین المللی pde");
	Html.AddMetaKeywordParts("PDE , پست بین المللی");
	Html.AddMetaDescriptionParts("PDE (پیام داهی ارتباط) یک شرکت پستی سریع بین المللی  است که کلیه خدمات خرید و حمل کالا تا ترخیص و تحویل مرسولات با حداکثر سرعت و حداقل هزینه به انجام می رساند. ");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>پست بین المللی PDE  چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>PDE</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/pde.png" alt="PDE" />
			</a>
		</div>
		<div class="col-md-8">
			<p>
				PDE (پیام داهی ارتباط) یک شرکت پستی سریع بین المللی با زنجیره متنوعی از خدمات است که کلیه نیازهای کسب و کار در این حوزه را از خرید و حمل کالا تا ترخیص و تحویل مرسولات با حداکثر سرعت و حداقل هزینه به انجام می رساند.
			</p>
			<p>
				شرکت PDE با ارایه سرویس های ویژه اعم از ترخیص یک روزه مرسولان و جابجایی کالاها با کمترین اتلاف وقت و بهره گیری از کادری مجرب و پرسنل کارآمد تلاش میکند تا در راستاس کسب اهداف گسترده خود و مبدل شدن به گسترده ترین و معتبرترین شرکت حمل و نقل خاورمیانه گام بردارد.
			</p>
			<p>
				PDE با در اختیار داشتن توانایی و امکانات گسترده اعم از پرواز مستقیم و اختصاصی به چین و دبی رهسپاری مرسولات پستی را به تمام دنیا حداقل 24 ساعت زودتر از حد استاندارد های ایران به انجام میرساند.
			</p>
			<p>
				از دیگر امتیازات PDE ،   به داشتن دفاتر فعال در پست جمهوری اسلامی ایران میتوان اشاره نمود.
			</p>
			<p>
				لازم به ذکر است حداکثر وزن در این سرویس 35کیلوگرم و حداکثر ابعاد100*100*100 سانتی متر می باشد که دارای سرویس پس کرایه و پرداخت در محل میباشد.سرویس پست خارجی PDE در تمامی کشورهای دنیا و در دو بخش صادرات و واردات فعال است .
			</p>
			@*<div class="content m-4">
					<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
				</div>*@

		</div>

	</div>

</div>

