@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("توزیع هوشمند پرشیا اکسپرس");
	Html.AddMetaKeywordParts("توزیع هوشمند,پرشیا اکسپرس");
	Html.AddMetaDescriptionParts("شرکت پرشیا توزیع هوشمند مرسولات در کشور، با نیروهای متخصص و ایجاد زیرساخت های روزآمد نرم افزاری و سخت افزاری موفق به ارائه زنجیره ی متنوعی از خدمات پستی مبتنی بر یک سیستم جامع هوشمند گردید. ");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>توزیع هوشمند پرسیا اکسپرس</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>پرشیا اکسپرس</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/persia-express.png"  alt="پرشیا اکسپرس"/>
			</a>
		</div>
		<div class="col-md-8">
			<p>
				شرکت پرشیا برای محقق ساختن ایده توزیع هوشمند مرسولات در کشور، با بهره گیری از نیروهای متخصص و ایجاد زیرساخت های روزآمد نرم افزاری و سخت افزاری (شامل بخش های مدیریت انسانی، مدیریت دانش، مدیریت ارتباط با مشتری و مدیریت توزیع ) موفق به ارائه زنجیره ی متنوعی از خدمات پستی مبتنی بر یک سیستم جامع هوشمند گردید. شبکه توزیع پرشیا پس از انعقاد قرارداد با سازمان ها و ارگان های دولتی و شرکت های بخش خصوصی و فروشندگان آنلاین، افتخار دارد اعلام نماید هم اکنون، روزانه بیش از سه هزار مرسوله در سطح شهر تهران توزیع مینماید.
			</p>
			<p>
				در عین از جمله محدودیتهای این سرویس به این موضوع میتوان اشاره کرد که کف تعداد برای هر مسیر تزیع معادل 10 بسته میباشد که کمتر از 10 بسته قیمت 10 بسته از مشتری اخذ خواهد شد. در بخش ابعاد سایز استاندارد مجموع بسته ها 50X50X50  سانتی متر و در بخش وزن حداکثر 30 کیلوگرم میباشد که تمامی بارهایی که تا 10 صبح درخواست جمع دارند تا ساعت 14 و تمامی مرسولاتی که تا ساعت 14 درخواست جمع آوری دارد تا ساع 18 توزیع میگردد. محدودیت مکانی این سرویس در حوزه شهری مناطق شهرداری تهران میباشد.
			</p>

			@*<div class="content m-4">
					<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
				</div>*@

		</div>

	</div>

</div>
