@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
}
<div class="container landing">

	<div class="row ">
		<div class="col-md-12 content">
			<h1>پست بار چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>پست بار</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/Postbar.png" />
			</a>
		</div>
		<div class="col-md-8">

			<p>
				پست بار در سال 1396 به نام طرح بازارمتریال – پست بار در شرکت ملی پست با هدف ایجاد اولین باجه مجازی شکل گرفت.
			</p>
			<p>
				هدف از ایجاد باجه مجازی تسهیل ارایه خدمات پستی، شروع فرایند پستی از درب فرستنده و با شعار هر ایرانی یک بسته پستی در سال شکل گرفت.
			</p>
			<p>خدمات پست بار شامل : </p>
			<ul>
				<li>رهگیری مرسوله از لحظه شروع فرایند پستی تا لحظه تحویل  به گیرنده.</li>
				<li>عرضه کد پستی به نحوی که میتوانید کدپستی را وارد نمایید و سپس آدرس دقیق را دریافت نمایید و یا بالعکس.</li>
			</ul>
			<p>
				سرویس های پست داخلی اعم پست سفارشی، پست پیشتاز و پست ویژه میباشد که در توصیف تفاوتهای این سه سرویس اینچنین میتوان عنوان کرد که پست سفارشی ارزان ترین سرویس در بین سه سرویس یاد شده میباشد که مدت زمان ارسال از 48 ساعت تا 7 روزمیباشد رده دوم خدمات پستی، پست پیشتاز میباشد که فرایند مراسله از 24 ساعت تا 6 روز میباشد و در پایان سرویس پست ویژه گرانترین و سریع ترین سرویس پستی میباشد که فرایند ارسال آن 24 ساعت کاری میباشد.
			</p>
			<p>اما چرا و چطور این سه سرویس با یکدیگر تفاوت قیمتی و زمانی دارند؟</p>
			<p>
				در فضای سرویس های پستی مسافت با 3 استاندارد محاسبه میگردد که شامل درون استانی، استان همجوار و استان غیر همجوار میباشد که در دو سرویس سفارشی و پیشتاز در 59 میلیون کد پستی قابل عرضه میباشد ولی پست ویژه با محدودیت مسیری بیشتری به نسبت دو نوع سرویس دیگر عرضه میشود زیرا صرفا برای محل هایی است که دارای سرویس زمینی روزانه مستقیم و یا پرواز میباشند.
			</p>
			<p>
				از دیگر سرویس های ارزش افزوده دیگر در پستبار به سادگی فرایند ثبت سفارش بدون نیاز به جانمایی در نقشه میباشد و سرویس سفارش انبوه و سرویس ترکینگ انبوه میباشد که به مشتری آزادی عمل بیشتر و سریعتری میدهد.
			</p>
			<p>در حال حاضر کیف پول در سامانه امنیتو از 4 جنبه قابل بررسی است:</p>

			<p>
				محدودیت های وزن و اندازه در سرویس های پست بار به شرح ذیل میباشد:
			</p>
			<br />
			<span>
				<strong>
					حداکثر وزن:
				</strong>
				30 کیلو گرم
			</span>
			<br />
			<span>
				<strong>
					حداکثر ابعاد :
				</strong>
				100X100X100 سانتی متر
			</span>
			<br />

			@*<div class="content m-4">
					<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
				</div>*@

		</div>

	</div>

</div>
