@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("پست درون شهری اسنپ باکس");
	Html.AddMetaKeywordParts("ارسال درون شهری ، اسنپ باکس ");
	Html.AddMetaDescriptionParts("اسنپ باکس استفاده از نرم افزار اسنپ، تنها با چند کلیک، در کوتاه‌ترین زمان ممکن، در هر کجای شهر که باشید با قیمتی مناسب مرسولات و بسته‌های خود را توسط موتورسیکلت‌های اسنپ به مقصد مورد نظر خود برسانید. ");
}
<div class="container landing">
		<div class="row ">
			<div class="col-md-12 content">
				<h1>ارسال درون شهری اسنپ باکس</h1>
				<ul class="breadcrumb">
					<li><a href="/">خانه</a></li>
					<li>همکاران</li>
					<li>اسنپ باکس</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 center mobile-center">
				<a class="" href="#">
					<img class="internal-logo" src="~/Themes/postexNew/images/partners/snappbox.png"  alt="اسنپ باکس"/>
				</a>
			</div>
			<div class="col-md-8">
				<p>
					سرویس اسنپ باکس متشکل از فعالینی جوان، تواند و مشتاق به پیشرفت رویکردی، محیط زیستی فعالیت خود را در میان رقبای سنتی و مدرن خود را در بازار حمل و نقل و لاجستیک پایه گذاری نموده است تا بتواند در رستای رفاه خانواده‌های ایرانی در قالب یک محور می اندیشد. اسنپ باکس به فرستنده کمک میکند تا با استفاده از نرم افزار اسنپ، تنها با چند کلیک، در کوتاه‌ترین زمان ممکن، در هر کجای شهر که باشید با قیمتی مناسب مرسولات و بسته‌های خود را توسط موتورسیکلت‌های اسنپ به مقصد مورد نظر خود برسانید.
				</p>
				<p>
					اسنپ باکس یکی از سرویس های نوپای در پلتفرم اسنپ می باشد که از بهار سال 96 شروع به کار نموده و وظیفه اسنپ باکس توزیع و جمع آوری کالا در بخش درون شهری به صورت آنی میباشد که حوزه فعالیت ان در 8 شهر بزرگ کشور می باشد ومحدودیت وزنی آن20 کیلو گرم و حداکثر ابعاد50*50*50 سانتی متر میباشد و کلیه مرسولات می بایستی طی دو ساعت پس از تعین نقطه جغرافیایی توسط فرستنده جمع آوری و در نقطه مورد نظر گیرنده تحویل گردد
				</p>
				<p>
					اسنپ باکس روشی نوین در درخواست پیک موتوری بوده که بعنوان جدیدترین سرویس اپلیکیشن اسنپ (بزرگترین سامانه حمل و نقل هوشمند کشور)، سهولت و امنیت را در کنار کاهش هزینه‌ها برای مصرف کنندگان به ارمغان آورده و زمینه کسب درآمد قابل توجهی را برای اقشار مختلف مردم فراهم ساخته است.
				</p>
				@*<div class="content m-4">
				<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
			</div>*@

			</div>

		</div>

</div>