@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>TPG چیست؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>TPG</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/tpg.png" />
			</a>
		</div>
		<div class="col-md-8">
			<p>
				شرکت تی پی جی از سال 1380 کار خود را در بخش حمل و نقل پستی اکسپرس شروع کرده است . حال اینکه علاوه بر انواع سرویس های پست و حم ل و نقل داخلی ، در همکاری با شرکت های معظم بین المللی ، آغاز به فعالیت پستی در زمینه محمولات و مرسولات به نقاط دور نزدیک جهان ، به کمک دفاتر همکار و نمایندگی اختصاصی نمود. تجربه گسترده کادر و هیات مدیره تی پی جی در زمینه ی حمل و نقل برون مرزی این امکان رو فراهم نموده است که این خدمت نیازمند یک شرکت توانای داخلی است . گمانه زنی ها به این امر قرین بود و اکنون تی پی جی یکی از گسترده ترین شبکه های های فعال درعرصه حمل و نقل کشور میباشد و توانسته است با عرضه سرویس مناسب، و با داشتن 72 دفترنمایندگی فعال در شهرهای مختلف کشور و عرضه سرویس های ویژه، با استفاده از پرسنل و تیمی کارآمد، ماشین آلات و وسائط نقلیه ی تخصصی در زمینه حمل و نقل و حمل وبسته بندی عرضه خدمت بنماید. شرکت تی پی جی در طول روز هزاران محموله ی پستی داخلی و بین المللی  جا به جا می نماید؛ که رنج بسته شامل، مرسولات پستی ، پاکت تا انواع محموله های میباشد. تمامی مراحل تفکیک و تقسیم مرسولات در مرکزاستان ها با یاری نمایندگان پرتلاس این تی پی جی در بالا ترین حد ممکن ارائه می گردد و با توجه به تمامی این امکانات، متصل شدن تی پی جی به بزرگترین شبکه حمل و نقل زمینی و ناوگان هوایی کشور باعث شده تا شعبات تی پی جی، تمام مرسولات در درب مقصد مورد نظر مشتریان تحویل گردد.
			</p>
			<p>
				محدودیت های وزن و اندازه در سرویس های پست بار به شرح ذیل میباشد:
			</p>
			<br />
			<span>
				<strong>
					حداکثر وزن:
				</strong>
				50 کیلو گرم
			</span>
			<br />
			<span>
				<strong>
					حداکثر ابعاد :
				</strong>
				3 متر
			</span>
			<br />
			@*<div class="content m-4">
				<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
			</div>*@

		</div>

	</div>

</div>