@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
	Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/PostexNew/_PubllicNewUiLayout.cshtml";
	Html.AddTitleParts("پست داخلی یارباکس");
	Html.AddMetaKeywordParts("پست داخلی ، یارباکس ");
	Html.AddMetaDescriptionParts(" شرکت حمل ونقل و پست داخلی  یارباکس دارای سرویس های مراسلاتی از درب تا درب و کارگو (از مبدا تا ترمینال شهر مقصد) می باشد. ");
}
<div class="container landing">
	<div class="row ">
		<div class="col-md-12 content">
			<h1>پست داخلی یارباکس چیست ؟</h1>
			<ul class="breadcrumb">
				<li><a href="/">خانه</a></li>
				<li>همکاران</li>
				<li>یارباکس</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 center mobile-center">
			<a class="" href="#">
				<img class="internal-logo" src="~/Themes/postexNew/images/partners/yarbox.png"  alt="یارباکس"/>
			</a>
		</div>
		<div class="col-md-8">
			<p>
				آرمان شرکت حمل و نقل یارباکس ایجاد فرایندهای تسهیل شده حمل و نقل و خدمات پستی از درب تا درب میباشد آنهم برای مرسولاتی که در فرایندهی جابجایی به پیچیده گی انجام میپذیرد فقط با یک کلیک.
			</p>
			<p>
				شرکت حمل ونقل یارباکس دارای سرویس های مراسلاتی از درب تا درب و کارگو (از مبدا تا ترمینال شهر مقصد) می باشد.
			</p>
			<p>
				یارباکس هم اکنون یکی ازگسترده ترین زنجیره های کشور را دارا است بنحوی که هم اینک در 125 شهر دارای نمایندگی و بیش از 60 شعبه عرضه خدمت میباشد.  از اهم اهداف یارباکس، بسته بندی جعبه های پستی با بهترین کیفیت می باشد که بتواند در مسیر فرایند نقل و انتقال پستی کیفیت مرسوله از بین نرود و از خسارت احتمالی، پیشگیری گردد. فرایند ره سپاری مرسوله در چهار اندازه (کوچک، متوسط ، بزرگ، خیلی بزرگ) صورت میپذیرد. سیاست یارباکس تحویل سریع کالا با بهره گیری از فناوری های نوین می باشد.
			</p>
			<p>
				شرکت حمل و نقل یار باکس مجموعه ای است با امکان عرضه خدمات انبار داری ، حمل و نقل سنگین و خدمات کالا رسانی که در این حوزه با تجربه ای 15 ساله به مشتریان خود ارائه خدمت می نماید خدمت یارباکس در این سایت دارای محدودیت وزنی 35گیلوگرم و حداکثر ابعاد100*100*100 سانتی متر می باشد و مدت زمان تحویل مرسولات 24الی72 ساعت می باشد و در اختیار داشتن 230 نقطه ارتباطی در تمامی استانهای کشور قادر به ارائه خدمت میباشد که دارای سرویس پس کرایه و پرداخت در محل می باشد.
			</p>

			@*<div class="content m-4">
				<a class="btn center" href="@(Url.RouteUrl("Nop.Plugin.Misc.PostbarDashboard.Dashboard")+"#list-up")">ورود به سرویس کیف پول</a>
			</div>*@
		</div>
	</div>
</div>