@model Nop.Plugin.Misc.PhoneLogin.Models.PasswordRecoveryModel
@{
    Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/postbar/_NewUiLayoutAccount.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="row mr-top-30">
        <div class="col-md-12">
            <div class="img-logo-sign-up text-center d-none d-sm-block">
                <a href="index.html"><img class="img-fluid" src="~/Themes/Postbar/images/LOGO.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="box-sign">
        <div class="row">
            <div class="col-md-12">
                <div class="title-forgot-email text-center">
                    <h1>بازنشانی کلمه عبور</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                <div class="link-forgot text-right mr-top-30">
                    <a href="">رمز عبور خود را فراموش کرده اید؟</a>
                </div>
                <form asp-route="PasswordRecovery" method="post" class="form-sign-up">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="form-forgot mr-top-30">
                        <i class="fa fa-envelope icon"></i>
                        <input asp-for="MobileNumber" class="form-control input-phone-number" placeholder="__________0" onkeypress='validate(event)'>
                    </div>
                    <div style="margin-right: 10px;" id="captchaItem">
                        <nop-captcha />
                    </div>
                    <button class="btn  mr-top-30" type="submit"><i class="fa fa-arrow-right"></i>@T("Account.PasswordRecovery.RecoverButton")</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function () {
		$("iframe").prop('width', 260)
        document.getElementById('MobileNumber').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
		);
    });
    $(function () {
        $(".form-sign-up").validate({
            rules: {
                MobileNumber: {
                    required: true,
                    minlength: 11,
                    maxlength: 11
                },
            },
            messages: {
                MobileNumber: {
                    required: "شماره تلفن اجباریست",
                    minlength: "طول شماره موبایل باید 11 رقم باشد",
                    maxlength: "طول شماره موبایل باید 11 رقم باشد"
                },
            }
        });
    });

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

</script>